body {

background-color: darkslateblue;
text-align: center;
color: white;

}

input {
    width: 45%;
    height: 20%;
    font-size: x-large;
    text-align: center;
    padding: 25px;
    margin-bottom: 0px;


}

button {
transform: translateX(-40px);
transform: translateY(60px);
width: 10%;
height: 40%;
background-color: lightgreen;

}


